<div page-container>
  <section courses>
    <h2 class="mat-display-1">Courses You Teach</h2>
    <mat-form-field courses [floatLabel]="'never'">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let course of selectedCourses">
          {{ course }}
        </mat-chip>
        <input
          placeholder="Add Courses..."
          #courseInput
          [formControl]="courseCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
        />
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let course of filteredCourses | async"
          [value]="course"
        >
          <div (click)="optionClicked($event, course)">
            <mat-checkbox
              [checked]="selectedCourses.includes(course)"
              (change)="toggleSelection(course)"
              (click)="$event.stopPropagation()"
            >
              {{ course }}
            </mat-checkbox>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div text-right>
      <button mat-raised-button (click)="saveCourses()" color="primary">
        Update
      </button>
    </div>
  </section>

  <section>
    <h2 class="mat-display-1">Overview</h2>

    <div stat-cards>
      <div stat-card [ngStyle]="{ 'border-color': '#4e73df' }">
        <div text>
          <span title [ngStyle]="{ color: '#4e73df' }"
            >REQUESTED TUTORIALS</span
          >
          <span stat [countUp]="10" [options]="{duration: 5}">0</span>
        </div>
        <mat-icon>display_settings</mat-icon>
      </div>

      <div stat-card [ngStyle]="{ 'border-color': '#1cc88a' }">
        <div text>
          <span title [ngStyle]="{ color: '#1cc88a' }">UPCOMING SESSIONS</span>
          <span stat [countUp]="1" [options]="{duration: 5}">0</span>
        </div>
        <mat-icon>upcoming</mat-icon>
      </div>

      <div stat-card [ngStyle]="{ 'border-color': '#36b9cc' }">
        <div text>
          <span title [ngStyle]="{ color: '#36b9cc' }">ACCEPTED REQUESTS</span>
          <span stat [countUp]="5" [options]="{duration: 5}">0</span>
        </div>
        <mat-icon>pending_actions</mat-icon>
      </div>

      <div stat-card [ngStyle]="{ 'border-color': '#f6c23e' }">
        <div text>
          <span title [ngStyle]="{ color: '#f6c23e' }">ALL APP SESSIONS</span>
          <span stat [countUp]="18" [options]="{duration: 5}">0</span>
        </div>
        <mat-icon>insights</mat-icon>
      </div>
    </div>
  </section>

  <section>
    <h2 class="mat-display-1" id="pending">Pending Sessions</h2>

    <div *ngIf="sessions.length === 0" loader>
      <p>No sessions found!</p>
    </div>

    <app-sessions-table
      [hideTutor]="true"
      [isTutorManaging]="true"
      [sessions]="sessions"
      (accept)="manageSession($event, 'accepted')"
      (reject)="manageSession($event, 'rejected')"
      *ngIf="sessions.length > 0"
    ></app-sessions-table>
  </section>
</div>
