rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    match /users/{userId} {
      allow create, read, update: if isOwner(userId);
      allow delete: if false;
    }

    match /sessions/{sessionId} {
      allow create: if isOwner(request.resource.data.student.id);
      allow read, update: if isOwner(request.data.tutor.id)
        || isOwner(request.data.tutor.id);
      allow delete: if false;
    }
  }
}
