<div page-container>
  <div heading>
    <h2 class="mat-display-1">Overview</h2>
    <button
      mat-raised-button
      color="primary"
      *ngIf="isLargeScreen"
      (click)="newSession()"
    >
      <mat-icon>edit_calendar</mat-icon>
      <span>Book a Session</span>
    </button>
  </div>

  <div stat-cards>
    <div stat-card [ngStyle]="{ 'border-color': '#4e73df' }">
      <div text>
        <span title [ngStyle]="{ color: '#4e73df' }">SCHEDULED TUTORIALS</span>
        <span
          stat
          [countUp]="(stats.scheduled | async) ?? 0"
          [options]="{ duration: 5 }"
          >0</span
        >
      </div>
      <mat-icon>display_settings</mat-icon>
    </div>

    <div stat-card [ngStyle]="{ 'border-color': '#1cc88a' }">
      <div text>
        <span title [ngStyle]="{ color: '#1cc88a' }">UPCOMING SESSIONS</span>
        <span
          stat
          [countUp]="(stats.studentUpcoming | async) ?? 01"
          [options]="{ duration: 5 }"
          >0</span
        >
      </div>
      <mat-icon>upcoming</mat-icon>
    </div>

    <div stat-card [ngStyle]="{ 'border-color': '#36b9cc' }">
      <div text>
        <span title [ngStyle]="{ color: '#36b9cc' }">PENDING REQUESTS</span>
        <span
          stat
          [countUp]="(stats.studentPending | async) ?? 0"
          [options]="{ duration: 5 }"
          >0</span
        >
      </div>
      <mat-icon>pending_actions</mat-icon>
    </div>

    <div stat-card [ngStyle]="{ 'border-color': '#f6c23e' }">
      <div text>
        <span title [ngStyle]="{ color: '#f6c23e' }">ALL APP SESSIONS</span>
        <span
          stat
          [countUp]="(stats.allSessions | async) ?? 0"
          [options]="{ duration: 5 }"
          >0</span
        >
      </div>
      <mat-icon>insights</mat-icon>
    </div>
  </div>

  <div heading>
    <h2 class="mat-display-1">Upcoming Sessions</h2>
  </div>

  <div *ngIf="isFetchingSessions && sessions.length === 0" loader>
    <p>Fetching sessions, please wait ...</p>
    <div>
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>

  <div *ngIf="!isFetchingSessions && sessions.length === 0" loader>
    <p>No sessions found!</p>
  </div>

  <app-sessions-table
    [hideStudent]="true"
    [sessions]="sessions"
    *ngIf="!isFetchingSessions && sessions.length > 0"
  ></app-sessions-table>

  <button mat-fab (click)="newSession()" *ngIf="!isLargeScreen">
    <mat-icon>edit_calendar</mat-icon>
  </button>
</div>
