<div container>
  <div header>
    <h2>New Session</h2>
    <button mat-mini-fab (click)="cancel.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="session" (ngSubmit)="saveSession($event)" session-form>
    <div field date-time-fields>
      <h4>Start</h4>
      <div>
        <mat-form-field [floatLabel]="'always'">
          <mat-label>Date</mat-label>
          <input
            matInput
            [min]="minDate"
            [matDatepicker]="startDatePicker"
            formControlName="startDate"
            (focus)="startDatePicker.open()"
            (ngModelChange)="tappedField()"
            readonly
          />
          <mat-icon matSuffix (click)="startDatePicker.open()">event</mat-icon>
          <mat-datepicker #startDatePicker></mat-datepicker>
          <mat-error *ngIf="startDate.invalid"
            >Start Date is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field [floatLabel]="'always'">
          <mat-label>Time</mat-label>
          <input
            matInput
            [format]="24"
            formControlName="startTime"
            [ngxTimepicker]="startTimePicker"
            (ngModelChange)="tappedField()"
            readonly
          />
          <mat-icon matSuffix (click)="startTimePicker.open()"
            >schedule</mat-icon
          >
          <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
          <mat-error *ngIf="startTime.invalid"
            >Start Time is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div field date-time-fields>
      <h4>End</h4>
      <div>
        <mat-form-field [floatLabel]="'always'">
          <mat-label>Date</mat-label>
          <input
            matInput
            [min]="session.get('startDate')?.value ?? minDate"
            [matDatepicker]="endDatePicker"
            (focus)="endDatePicker.open()"
            (ngModelChange)="tappedField()"
            formControlName="endDate"
            readonly
          />
          <mat-icon matSuffix (click)="endDatePicker.open()">event</mat-icon>
          <mat-datepicker #endDatePicker></mat-datepicker>
          <mat-error>{{
            endDate.hasError('required')
              ? 'End Date is required.'
              : 'End Date cannot be less than Start Date'
          }}</mat-error>
        </mat-form-field>

        <mat-form-field [floatLabel]="'always'">
          <mat-label>Time</mat-label>
          <input
            matInput
            [format]="24"
            [ngxTimepicker]="endTimePicker"
            (ngModelChange)="tappedField()"
            formControlName="endTime"
            readonly
          />
          <mat-icon matSuffix (click)="endTimePicker.open()">schedule</mat-icon>
          <ngx-material-timepicker
            [format]="24"
            #endTimePicker
          ></ngx-material-timepicker>
          <mat-error>{{
            endTime.hasError('required')
              ? 'End Time is required.'
              : 'End Time cannot be less than or equal to Start Time'
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div field>
      <h4>Course</h4>
      <mat-form-field [floatLabel]="'always'">
        <mat-select formControlName="course" (selectionChange)="tappedField()">
          <mat-option *ngFor="let c of courses.all" [value]="c">
            {{ c }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div field tutor-field>
      <h4>Tutor</h4>
      <div>
        <mat-form-field [floatLabel]="'always'">
          <mat-select formControlName="tutor" (click)="tappedTutorDropdown()">
            <mat-option *ngFor="let t of tutors" [value]="t">
              {{ t.name !== '' ? t.name : t.email }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-progress-spinner
          mode="indeterminate"
          *ngIf="isGettingTutors"
          strokeWidth="6"
          diameter="32"
        ></mat-progress-spinner>
      </div>
    </div>

    <!-- To help form's grid styling in tablet -->
    <div></div>

    <div submit-button-container text-right>
      <button mat-raised-button color="accent">
        <mat-icon>check</mat-icon>
        <span>Create</span>
      </button>
    </div>
  </form>
</div>
