mat-toolbar[navbar] {
  box-shadow: 0 3px 1.5px -1.5px #0d102517;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  // explicitly set this because of 56px height in mobile set by material
  height: 64px;
}

[img-container] {
  margin-right: 16px;
  width: 48px;
  height: 48px;
  background-color: lightgrey;
  border-radius: 50%;
  position: relative;

  mat-icon[person] {
    opacity: 0.8;
    margin-left: 12px;
    margin-top: 12px;
  }

  [image-display] {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  [image-display],
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  img {
    opacity: 0;
  }
}

mat-sidenav-container,
mat-sidenav-content {
  min-height: 100vh;
}

mat-sidenav[snav] {
  padding: 24px;
  background-color: #0277bd;
  background-image: linear-gradient(180deg, #0277bd 10%, #01579b 100%);
  background-size: cover;
  color: white !important;
  max-width: 252px;

  h3 {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 12px;

    mat-icon {
      font-size: 12px;
      text-decoration: underline;
      margin-left: 0;
      height: 0;
      width: 0;
    }

    span {
      padding-left: 8px;
      text-decoration: underline;
    }
  }

  a,
  button {
    margin-bottom: 8px;
    font-size: 14px;
    padding: 4px 12px;

    mat-icon {
      margin-right: 8px;
    }
  }

  mat-divider {
    color: white;
    border-top: 2px solid;
    margin: 24px 0;
  }

  [indent] {
    padding: 0 24px;
  }
}

mat-sidenav[side-scheduler] {
  padding: 16px;
}

.active-nav-link {
  // A100 of light blue palette (with reduced transparency)
  background-color: rgb(179, 229, 252, 0.2);
  border-radius: 4px;
}

mat-sidenav-content {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
}

footer {
  margin-top: auto;
  box-shadow: 0 -1px 0.5px -0.5px #0d102517;
}
