<ngx-ui-loader
  [fgsColor]="primaryColor"
  [pbColor]="primaryColor"
  [fgsType]="SPINNER.pulse"
>
</ngx-ui-loader>

<mat-toolbar navbar>
  <button
    mat-icon-button
    (click)="snav.toggle()"
    *ngIf="!isLargeScreen && auth.currentUser"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1>TMS</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    snav
    #snav
    [fixedInViewport]="true"
    [fixedTopGap]="56"
    [opened]="isLargeScreen"
    [mode]="isLargeScreen ? 'side' : 'over'"
    *ngIf="auth.currentUser"
  >
    <div content>
      <h3>
        <mat-icon>school</mat-icon>
        <span>&nbsp;&nbsp;&nbsp;STUDENT DASHBOARD</span>
      </h3>
      <p indent>
        <a
          mat-stroked-button
          [routerLink]="'/student'"
          [routerLinkActive]="['active-nav-link']"
          ><mat-icon>terrain</mat-icon> <span>Overview</span></a
        >
      </p>
      <p indent>
        <button mat-stroked-button (click)="newSession()">
          <mat-icon>event_available</mat-icon> <span>Book A Session</span>
        </button>
      </p>
      <p indent>
        <a
          mat-stroked-button
          [routerLink]="'/sessions/student'"
          [routerLinkActive]="['active-nav-link']"
          ><mat-icon>auto_graph</mat-icon> <span>All Sessions</span></a
        >
      </p>
      <mat-divider></mat-divider>
      <h3>
        <mat-icon>play_lesson</mat-icon
        ><span>&nbsp;&nbsp;&nbsp;TUTOR DASHBOARD</span>
      </h3>
      <p indent>
        <a
          mat-stroked-button
          [routerLink]="'/tutor'"
          [routerLinkActive]="['active-nav-link']"
          ><mat-icon>signal_cellular_alt</mat-icon> <span>Statistics</span></a
        >
      </p>
      <p indent>
        <a
          mat-stroked-button
          [routerLink]="'/sessions/tutor'"
          [routerLinkActive]="['active-nav-link']"
          ><mat-icon>stacked_line_chart</mat-icon> <span>All Sessions</span></a
        >
      </p>
      <mat-divider></mat-divider>
      <h3>
        <mat-icon>admin_panel_settings</mat-icon
        ><span>&nbsp;&nbsp;&nbsp;ACCOUNT SETTINGS</span>
      </h3>
      <p indent>
        <a
          mat-stroked-button
          [routerLink]="'/settings'"
          [routerLinkActive]="['active-nav-link']"
          ><mat-icon>manage_accounts</mat-icon> <span>Account Settings</span></a
        >
      </p>
      <p indent>
        <button mat-stroked-button (click)="signOut()">
          <mat-icon>person_remove</mat-icon> <span>Sign Out</span>
        </button>
      </p>
    </div>
  </mat-sidenav>

  <mat-sidenav
    side-scheduler
    #sideScheduler
    [fixedInViewport]="true"
    [fixedTopGap]="64"
    [mode]="'over'"
    [position]="'end'"
    [disableClose]="true"
  >
    <app-scheduler (cancel)="sideScheduler.close()"></app-scheduler>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>

    <footer>
      <mat-toolbar>
        <small>&copy; {{ year }} All Rights Reserved</small>
      </mat-toolbar>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
