mat-toolbar[navbar] {
  box-shadow: 0 3px 1.5px -1.5px #0d102517;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

mat-sidenav-container,
mat-sidenav-content {
  min-height: 100vh;
}

mat-sidenav {
  padding: 16px;
}

a[mat-list-item] {
  margin-bottom: 8px;
}

.active-nav-link {
  // A100 of light blue palette (with reduced transparency)
  background-color: rgb(179, 229, 252, 0.4);
  border-radius: 4px;
}

mat-sidenav-content {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
}

main {
  padding: 32px 16px;
  width: 100%;
}

footer {
  margin-top: auto;
  box-shadow: 0 -1px 0.5px -0.5px #0d102517;
}
