@import '~@angular/material/theming';
@include mat-core();

$palette: mat-palette($mat-light-blue);
$light-theme: mat-light-theme($palette, $palette);
@include angular-material-theme($light-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

snack-bar-container.mat-snack-bar-container {
  display: flex;
  align-items: center;
}

.snackbar-success::before {
  font-family: 'Material Icons';
  content: '\f013';
  color: #9ce2b6;
  margin-right: 8px;
}

.snackbar-error::before {
  font-family: 'Material Icons';
  content: '\e000';
  color: #fc9494;
  margin-right: 8px;
}

[text-right] {
  text-align: right;
}

.mat-bottom-sheet-container {
  border-radius: 32px 32px 0 0;
}

.cdk-overlay-container {
  // for the time picker in scheduler form
  z-index: 100;
}

[loader] {
  margin: 64px 0;
  max-width: 1024px;

  p {
    text-align: center;
    font-size: 1.25rem;
  }

  div {
    height: 256px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
